.jumbotron{
    background-color: red;
    color: white;
    margin-top:50px;
}

footer{
    padding: 10px 10px 0 10px;
    background-color: red;
    color: white;
    margin-bottom: 0px;
    margin-top: 10px;
}

footer a{
    color: white;
}

.btn-poke,.btn-enviar{
    color:white;
    background-color: coral;
    text-decoration: none;
    border-color: coral;
    left: 0;
    bottom: 0;
}

.btn-enviar{
    border-color: coral;
    left: 0;
    bottom: 0;
}

.btn-link{
    color: black;
    background-color: transparent;
    text-decoration: none;
}

.btn-link:hover {
    color:coral;
    background-color: transparent;
    text-decoration: none;
}

.btn-link:active {
    color:coral;
    background-color: transparent;
    text-decoration: none;
}



.card-pokemon{
    flex: 1 300px;
    padding:2px 0px 0px 0px;
    margin-top: 27px;
}

.btn-poke,.btn-outline-success{
    width:100%;
    border-radius:0px;
}

.icon{
    padding-right: 10px;
}


.table-striped tr {
 text-align: center;
}