.jumbotron {
  margin-top: 50px;
  margin-bottom: 30px;
  color: #ffffff;
  background-color: #ff0000; }

footer {
  color: #ffffff;
  background-color: #ff0000;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px; }

footer a {
  color: #ffffff; }

.btn-poke, .btn-enviar {
  color: #ffffff;
  background-color: #ff7f50;
  text-decoration: none;
  border-color: #ff7f50;
  left: 0;
  bottom: 0; }

.btn-enviar {
  border-color: #ff7f50;
  left: 0;
  bottom: 0; }

.btn-link {
  color: #ffffff;
  background-color: transparent;
  text-decoration: none; }

.btn-link:hover {
  color: #ffffff;
  background-color: transparent;
  text-decoration: none; }

.btn-link:active {
  color: #ffffff;
  background-color: transparent;
  text-decoration: none; }

.card-pokemon {
  flex: 1 300px;
  margin-top: 27px;
  margin-bottom: 0px;
  padding-top: 2px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px; }

.btn-poke, .btn-outline-success {
  width: 100%;
  border-radius: 0px; }

.icon {
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px; }

.table-striped tr {
  text-align: center; }
