@yellow: #f2ff00;
@coral: #ff7f50 ;
@white:#ffffff;
@black:#000000;
@red:#ff0000;
@green:#00ff1a;

.margenes(@top, @bottom) {
    margin-top: @top;
    margin-bottom: @bottom;
}

.padding(@top, @right,@bottom,@left) {
    padding-top: @top;
    padding-right: @right;
    padding-bottom: @bottom;
    padding-left: @left;
}

.colores(@color:null, @bgcolor:null) {
    color: @color;
    background-color: @bgcolor
}

.jumbotron {
    .margenes(50px,30px);
    .colores(@white,@red); }
  
footer {
    .colores(@white, @red);
    .margenes(10px, 0px);
    .padding(10px, 10px, 0px, 10px);
}
  
footer a{
    .colores(@white);
}

.btn-poke,.btn-enviar{
    .colores(@white, @coral);
    text-decoration: none;
    border-color: @coral;
    left: 0;
    bottom: 0;
}

.btn-enviar{
    border-color: @coral;
    left: 0;
    bottom: 0;
}

.btn-link{
    .colores(@white, transparent);
    text-decoration: none;
}

.btn-link:hover {
    .colores(@white, transparent);
    text-decoration: none;
}

.btn-link:active {
    .colores(@white, transparent);
    text-decoration: none;
}

.card-pokemon{
    flex: 1 300px;
    .margenes(27px, 0px);
    .padding(2px,0px,0px,0px);
}

.btn-poke,.btn-outline-success{
    width:100%;
    border-radius:0px;
}

.icon{
    .padding(0px,10px,0px,0px);

}


.table-striped tr {
 text-align: center;
}