$yellow: #f2ff00;
$coral: #ff7f50 ;
$white:#ffffff;
$black:#000000;
$red:#ff0000;
$green:#00ff1a;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin padding($top, $right,$bottom,$left) {
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
}

@mixin colores($color:null, $bgcolor:null) {
    color: $color;
    background-color: $bgcolor
}
.jumbotron{
    @include margenes(50px, 30px);
    @include colores($white, $red);
}

footer{
    @include colores($white, $red);
    @include margenes(10px, 0px);
    @include padding(10px, 10px, 0px, 10px)
}

footer a{
    @include colores($white);
}

.btn-poke,.btn-enviar{
    @include colores($white, $coral);
    text-decoration: none;
    border-color: $coral;
    left: 0;
    bottom: 0;
}

.btn-enviar{
    border-color: $coral;
    left: 0;
    bottom: 0;
}

.btn-link{
    @include colores($white, transparent);
    text-decoration: none;
}

.btn-link:hover {
    @include colores($white, transparent);
    text-decoration: none;
}

.btn-link:active {
    @include colores($white, transparent);
    text-decoration: none;
}



.card-pokemon{
    flex: 1 300px;
    @include margenes(27px, 0px);
    @include padding(2px,0px,0px,0px);
}

.btn-poke,.btn-outline-success{
    width:100%;
    border-radius:0px;
}

.icon{
    @include padding(0px,10px,0px,0px);

}


.table-striped tr {
 text-align: center;
}